{header}
        <main id="main" class="main">
            <div class="content-wrapper">
                <div id="content" class="content">
                    <article class="post">
                        {post-header}
                        {toc}
                        <div class="post-content">
                            {content}
                        </div>
                        {post-footer}
                    </article>
                </div>
            </div>
        </main>
        {script}
{footer}